/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
   	/* header start*/
header{
	padding: 5px 0;
}
.logo{
	width: 180px;
}
.menu ul li a{
	padding: 0 5px 8px !important ;
}
/*banner start*/
.b_text{
	text-align: center;
}
.bh1{
	margin: 10px 0 20px;
	font-size: 30px;
	line-height: 45px;
}
.bp2{
	margin: 0 ;
	line-height: 30px;
}
 .b_img{
	margin: 0 0 30px;
}
/*feature start*/
.c_padding{
	padding-bottom: 60px;
}
.sf_feature{
	margin: 30px 0 0;
}	
.sf_img{
	width: 56px;
	height: 75px;
}
.sf_h2{
	margin: 15px 0 0;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
}	
/*course start*/
.cm_h1{
	font-size: 25px;
	line-height: 40px;
}
/*course start*/
.cm_h1{
	font-size: 25px;
	line-height: 40px;
}
.c_single{
	margin: 30px 0 0;
	padding: 20px 15px 25px;
}
.c_h2{
	font-size: 20px;
}
.c_left ul li img, .c_right ul li img{
	width: 20px;
}
.c_left ul li span, .c_right ul li span{
	font-size: 15px;
}
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/* header start*/
header{
	padding: 5px 0;
}
.menu ul li a{
	padding: 0 5px 8px !important ;
}
/*banner start*/
.b_text{
	text-align: center;
}
.bh1{
	margin: 10px 70px 20px;
	font-size: 35px;
	line-height: 45px;

}
.bp2{
	margin: 0 50px;
	line-height: 30px;
}
 .b_img{
	margin: 0 30px 30px;
}
/*feature start*/
.c_padding{
	padding-bottom: 60px;
}
.sf_feature{
	margin: 30px 0 0;
}	
.sf_img{
	width: 56px;
	height: 75px;
}
.sf_h2{
	margin: 15px 0 0;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
}	
/*course start*/
.cm_h1{
	font-size: 25px;
	line-height: 40px;
}
/*   course start    */
.c_single{
	margin: 30px 50px 0;
	padding: 20px 15px 25px;
}
.c_h2{
	font-size: 20px;
}
.c_left ul li img, .c_right ul li img{
	width: 20px;
}
.c_left ul li span, .c_right ul li span{
	font-size: 15px;
}
   }
 

 /* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
/* header start*/
header{
	padding: 10px 0;
}
.menu ul li a{
	padding: 0 5px 8px !important ;
}
/*banner start*/
.b_text{
	text-align: center;
}
.bh1{
	margin: 10px 90px 20px;
}
.bp2{
	margin: 0 90px;
}
 .b_img{
	margin: 0 50px 30px;
}
/*feature start*/
.c_padding{
	padding-bottom: 80px;
}
/*   course start    */
.c_single{
	margin: 30px 150px 0;
}


}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
/*   course start    */
   .c_single{
   	padding: 20px 15px 25px;
   }
   .c_left ul li img, .c_right ul li img{
   	width: 20px;
   }
   .c_left ul li span, .c_right ul li span{
    font-size: 14px;
   }
  .cli:not(:last-child){
  	margin-right: 0px;
  }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 
       
 
 }


/* Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px){
/* banner start*/
  .bh1{
	margin: 10px 100px 20px 0;
}
    
}
	

